body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  #digital-clock {
    font-size: 64px;
    text-align: center;
    margin: 20px 0;
  }
  
  input[type="time"],
  input[type="text"],
  select {
    font-size: 24px;
    margin-right: 10px;
  }
  
  button {
    font-size: 24px;
    margin-right: 10px;
  }
  
  select {
    margin-left: 10px;
  }
  
  #audio {
    display: none;
  }
  